@font-face {
    font-family: "digital";
    src: url("digital-7.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

#calculatrice {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 0.6rem darkgray;
}

#ecran {
    height: 75px;
    width: 100%;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: "digital";
}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    grid-template-rows: repeat(5, 3rem);
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px darkgray;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1.5rem;
}

button:active {
    box-shadow: 0 1px darkgray;
    transform: translate(2px);
}

button[data-key="8"] {
    /* Le bouton C */
    background-color: red;
    font-weight: bold;
    color: white;
}

button[data-key="13"] {
    /* Le bouton = */
    background-color: seagreen;
    font-weight: bold;
    color: white;
    grid-column: span 2;
}